{
title="自定义标题"; //软件标题
host="https://www.google.co.uk"; //web网址
left=15; //窗口左边距离
width=1500; //窗口宽度
height=1200; //窗口高度
top=20; //窗口上边距离
icon=".\icon\logo.ico"; //窗口图标
maximized=1; //窗口打开时是否最大化：3最大化
preBATFile=".\addons\mybat.bat"; //需要在web打开之前运行的BAT命令行文件
prePSFile=".\addons\myps.ps1"; //需要在web打开之前运行的PS文件
jsFile=".\addons\myjs.js"; //需要注入的js文件
matchString="" //开启浏览器前检测命令行输出是否包含文本,用于检测是否命令运行结束
}